<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  {{ #answers }}
    <p>your name is: {{ name }}</p>
    <p>your email is: {{ email }}</p>
    <p>your birth year is: {{ birthyear }}</p>
    <p>your position is: {{ position }}</p>
    <p>your password is: {{ password }}</p>
  {{ /answers }}
  </body>
</html>
